/* Login Page CSS   */
.brownie .main-logo, .brownie .login-page-title
{
    background-color: #AE5907;
    color: #FFFFFF;
}

.brownie .login-banner-message
{
    background-color: #AE5907;
    color: #FFFFFF;
}

.brownie a.login-hyperlink
{
    background-color: #AE5907;
    color: #FFFFFF;
}

.brownie a.login-hyperlink:hover
{
    background-color: #AC2700;
}

.brownie a.login-hyperlink:active
{
    background-color: #D5D5D5;
}

.brownie input[type="submit"], .brownie input[type="button"], .brownie button[type="button"]
{
    background-color: #AE5907;
    color: #FFFFFF;
}

.brownie input[type="submit"]:hover, .brownie input[type="button"]:hover, .brownie button[type="button"]:hover
{
    background-color: #AC2700;
}

.brownie input[type="submit"]:active, .brownie input[type="button"]:active, .brownie button[type="button"]:active
{
    background-color: #D5D5D5;
}

.brownie input[type="text"]:focus, .brownie input[type="password"]:focus
{
    border-color: #A0A0A0;
    border-bottom-color: #AE5907;
}

/* Login Page CSS */
.brownie .login-controls-panel
{
    color: #000000;
}


/* Home Page CSS */
.brownie .page-top
{
    color: #000000;
}

.brownie .user-panel .logged-user-portrait
{
    background-color: #AE5907;
}

.brownie .search-form .search-button
{
    background: #AE5907;
}

.brownie .search-form input[type="text"]:focus
{
    border-bottom-color: #AE5907;
}

.brownie .navigation-menu > li
{
    background-color: #AE5907;
    color: #FFFFFF;
}

.brownie .navigation-menu > li:hover
{
    /*#C0C0C0 or #898989*/
    background-color: #D2D2D2;
}

.brownie .navigation-menu > li ul > li
{
    /*Try #898989 for backgroud*/
    background-color: #D2D2D2;
    color: #2A2A2A;
}

.brownie .navigation-menu > li a
{
    color: #FFFFFF;
}

.brownie .navigation-menu > li ul li:first-child
{
    border-top-color: #AE5907;
}

.brownie .navigation-menu > li ul li:hover
{
    background-color: #AE5907;
    color: #FFFFFF;
}

.brownie .slideshow ul.slideshow-content li .slideshow-message-panel
{
    background-color: #AE5907;
    color: #FFFFFF;
}

.brownie .slideshow ul.slideshow-navigation li
{
    background-color: #AE5907;
}

.brownie .content-terms li:hover, .brownie .content-terms li.file-resource:hover
{
    background-color: #D2D2D2;
/*    color: #FFFFFF;*/
}


.brownie .whats-recent
{
    border: 1px solid #D2D2D2;
}

.brownie .whats-recent .activity-portrait img
{
    background-color: #AE5907;
}

.brownie .whats-recent ul li:hover
{
    background-color: #D2D2D2;
}

.brownie .filters span
{
    color: #888888;
}

.brownie .filters span:first-child
{
    color: #000000;
}

.brownie .filters span:hover
{
    color: #000000;
}

.brownie .list-item
{
    background-color: #EEEEEE;
}

.brownie .list-item:hover
{
    background-color: #D2D2D2;
}


/* Background images and related resources */
.brownie .content-terms li
{
    background-image: url('../../resources/icons/theme-specific/brownie-folder.png'); /* Unable to convert this to percent based scale */
}
