/* Login Page CSS   */
.regular-blue .main-logo, .regular-blue .login-page-title
{
    background-color: #0072C6;
    color: #FFFFFF;
}

.regular-blue .login-banner-message
{
    background-color: #0072C6;
    color: #FFFFFF;
}

.regular-blue a.login-hyperlink
{
    background-color: #0072C6;
    color: #FFFFFF;
}

.regular-blue a.login-hyperlink:hover
{
    background-color: #AC2700;
}

.regular-blue a.login-hyperlink:active
{
    background-color: #D5D5D5;
}

.regular-blue input[type="submit"], .regular-blue input[type="button"], .regular-blue button[type="button"]
{
    background-color: #0072C6;
    color: #FFFFFF;
}

.regular-blue input[type="submit"]:hover, .regular-blue input[type="button"]:hover, .regular-blue button[type="button"]:hover
{
    background-color: #AC2700;
}

.regular-blue input[type="submit"]:active, .regular-blue input[type="button"]:active, .regular-blue button[type="button"]:active
{
    background-color: #D5D5D5;
}

.regular-blue input[type="text"]:focus, .regular-blue input[type="password"]:focus
{
    border-color: #A0A0A0;
    border-bottom-color: #0072C6;
}

/* Login Page CSS */
.regular-blue .login-controls-panel
{
    color: #000000;
}

/* Home Page CSS */
.regular-blue .page-top
{
    color: #000000;
}

.regular-blue .user-panel .logged-user-portrait
{
    background-color: #0072C6;
}

.regular-blue .search-form .search-button
{
    background: #0072C6;
}

.regular-blue .search-form input[type="text"]:focus
{
    border-bottom-color: #0072C6;
}

.regular-blue .navigation-menu > li
{
    background-color: #0072C6;
    color: #FFFFFF;
}

.regular-blue .navigation-menu > li:hover
{
    /*#C0C0C0 or #898989*/
    background-color: #D2D2D2;
}

.regular-blue .navigation-menu > li ul > li
{
    /*Try #898989 for backgroud*/
    background-color: #D2D2D2;
    color: #2A2A2A;
}

.regular-blue .navigation-menu > li a
{
    color: #FFFFFF;
}

.regular-blue .navigation-menu > li ul li:first-child
{
    border-top-color: #0072C6;
}

.regular-blue .navigation-menu > li ul li:hover
{
    background-color: #0072C6;
    color: #FFFFFF;
}

.regular-blue .slideshow ul.slideshow-content li .slideshow-message-panel
{
    background-color: #0072C6;
    color: #FFFFFF;
}

.regular-blue .slideshow ul.slideshow-navigation li
{
    background-color: #0072C6;
}

.regular-blue .content-terms li:hover, .regular-blue .content-terms li.file-resource:hover
{
    background-color: #D2D2D2;
/*    color: #FFFFFF;*/
}

.regular-blue .whats-recent
{
    border: 1px solid #D2D2D2;
}

.regular-blue .whats-recent .activity-portrait img
{
    background-color: #0072C6;
}

.regular-blue .whats-recent ul li:hover
{
    background-color: #D2D2D2;
}

.regular-blue .filters span
{
    color: #888888;
}

.regular-blue .filters span:first-child
{
    color: #000000;
}

.regular-blue .filters span:hover
{
    color: #000000;
}

.regular-blue .list-item
{
    background-color: #EEEEEE;
}

.regular-blue .list-item:hover
{
    background-color: #D2D2D2;
}

/* Background images and related resources */
.regular-blue .content-terms li
{
    background-image: url('../../resources/icons/theme-specific/regular-blue-folder.png'); /* Unable to convert this to percent based scale */
}