/* Login Page CSS   */
.violet .main-logo, .violet .login-page-title
{
    background-color: #00188F;
    color: #FFFFFF;
}

.violet .login-banner-message
{
    background-color: #00188F;
    color: #FFFFFF;
}

.violet a.login-hyperlink
{
    background-color: #00188F;
    color: #FFFFFF;
}

.violet a.login-hyperlink:hover
{
    background-color: #AC2700;
}

.violet a.login-hyperlink:active
{
    background-color: #D5D5D5;
}

.violet input[type="submit"], .violet input[type="button"], .violet button[type="button"]
{
    background-color: #00188F;
    color: #FFFFFF;
}

.violet input[type="submit"]:hover, .violet input[type="button"]:hover, .violet button[type="button"]:hover
{
    background-color: #AC2700;
}

.violet input[type="submit"]:active, .violet input[type="button"]:active, .violet button[type="button"]:active
{
    background-color: #D5D5D5;
}

.violet input[type="text"]:focus, .violet input[type="password"]:focus
{
    border-color: #A0A0A0;
    border-bottom-color: #00188F;
}

/* Login Page CSS */
.violet .login-controls-panel
{
    color: #000000;
}

/* Home Page CSS */
.violet .page-top
{
    color: #000000;
}

.violet .user-panel .logged-user-portrait
{
    background-color: #00188F;
}

.violet .search-form .search-button
{
    background: #00188F;
}

.violet .search-form input[type="text"]:focus
{
    border-bottom-color: #00188F;
}

.violet .navigation-menu > li
{
    background-color: #00188F;
    color: #FFFFFF;
}

.violet .navigation-menu > li:hover
{
    /*#C0C0C0 or #898989*/
    background-color: #D2D2D2;
}

.violet .navigation-menu > li ul > li
{
    /*Try #898989 for backgroud*/
    background-color: #D2D2D2;
    color: #2A2A2A;
}

.violet .navigation-menu > li a
{
    color: #FFFFFF;
}

.violet .navigation-menu > li ul li:first-child
{
    border-top-color: #00188F;
}

.violet .navigation-menu > li ul li:hover
{
    background-color: #00188F;
    color: #FFFFFF;
}

.violet .slideshow ul.slideshow-content li .slideshow-message-panel
{
    background-color: #00188F;
    color: #FFFFFF;
}

.violet .slideshow ul.slideshow-navigation li
{
    background-color: #00188F;
}

.violet .content-terms li:hover, .violet .content-terms li.file-resource:hover
{
    background-color: #D2D2D2;
/*    color: #FFFFFF;*/
}


.violet .whats-recent
{
    border: 1px solid #D2D2D2;
}

.violet .whats-recent .activity-portrait img
{
    background-color: #00188F;
}

.violet .whats-recent ul li:hover
{
    background-color: #D2D2D2;
}

.violet .filters span
{
    color: #888888;
}

.violet .filters span:first-child
{
    color: #000000;
}

.violet .filters span:hover
{
    color: #000000;
}

.violet .list-item
{
    background-color: #EEEEEE;
}

.violet .list-item:hover
{
    background-color: #D2D2D2;
}

/* Background images and related resources */
.violet .content-terms li
{
    background-image: url('../../resources/icons/theme-specific/violet-folder.png'); /* Unable to convert this to percent based scale */
}