.page-header
{
    height: 132px;
    position: relative;
    font-family: "Segoe UI Light", "Segoe UI","Segoe","Segoe WP","Tahoma","Verdana","Arial","sans-serif";
}

.page-header h1
{
    position: absolute;
    bottom: 0;
}

.left-panel
{
    float: left;
    height: 100%;
    width: 56.180556%;      /* 809px / 1440px */
    margin: 0 0.416667%;    /* 6px / 1440px */
}

.left-panel img {
    max-width: 78px;
}

.right-panel
{
    float: right;
    position: relative;
    height: 100%;
    width: 30.763889%;      /* 443px / 1440px */
    
    margin: 0 0.416667%;    /* 6px / 1440px */
}

.user-panel
{
    padding-top: 12px;   /* It would be kept fixed as it destroys the alignment */
    text-align: right;
}

.user-panel:after
{
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

.user-panel .logged-user-portrait
{
    float: right;
    width: 60px;        /* Units would be adjusted as per media queries */
    height: 60px;       /* Units would be adjusted as per media queries */
}

.user-panel .logged-user-portrait img
{
    max-width: 100%;
}

.user-panel .user-details
{
    float: right;
    margin-right: 10px;     /* Units would be adjusted as per media queries */
}

.user-panel .user-details h3
{
    font-size: 1.5em;
}

.search-form
{
    position: relative;
    margin-top: 18px;       /* It would be kept fixed as it destroys the alignment */
}

.search-form > div
{
    border: 1px solid #BABABA;
    margin-right: 30px;     /* It would be kept fixed as it destroys the alignment */
    border-right-width: 0;
    
    overflow: hidden;
}

.search-form .search-button
{
    border: none;
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
}

.search-form input[type="text"]
{
/*    width: 400px;*/
/*    float: right;*/
    
    width: 100%;
    border: none;
    padding: 1.354402%;         /* 6px / 443px - Revisit it later as it is slightly destroying the alignment */
    margin: 0;
    border-width: 0;
    border-style: solid;
}

.search-form input[type="text"]:focus
{
    border-bottom-width: 1px;
    padding-bottom: 1.128668%;        /* 5px / 443px - Revisit it later as it is slightly destroying the alignment */
}

.search-form button.cancel
{
    border: none;
    position: absolute;
    top: 1px;
    right: 30px;                 /* It would be kept fixed as it destroys the alignment */
    background: transparent;
    opacity: 0.05;
}

.search-form button.cancel:hover
{
    opacity: 0.5;
}


input[type="submit"], input[type="button"]
{
    padding: 1.648352%;   /* 6px / 364px */
    font-size: 0.9em;
    border: none;
}

@media screen and (max-width: 1200px)
{
    .right-panel
    {
        width: 25%;
    }
}

@media screen and (max-width: 1104px)
{
    h1
    {
        font-size: 2.7em;
    }
}

@media screen and (max-width: 996px)
{
    .right-panel
    {
        width: 22%;
    }
}